# excluce everything first
/*

# except following files
!.gitignore

!build.tcl

!ip_repo/

!ug1165.srcs/
ug1165.srcs/*
!ug1165.srcs/constrs_1/
ug1165.srcs/constrs_1/*
!ug1165.srcs/constrs_1/new/
ug1165.srcs/constrs_1/new/*
!ug1165.srcs/constrs_1/new/leds.xdc

!ug1165.srcs/sources_1/
ug1165.srcs/sources_1/*
!ug1165.srcs/sources_1/bd/
ug1165.srcs/sources_1/bd/*
!ug1165.srcs/sources_1/bd/ug1165_bd/
ug1165.srcs/sources_1/bd/ug1165_bd/*
!ug1165.srcs/sources_1/bd/ug1165_bd/ug1165_bd.bd
!ug1165.srcs/sources_1/bd/ug1165_bd/hdl/
ug1165.srcs/sources_1/bd/ug1165_bd/hdl/*
!ug1165.srcs/sources_1/bd/ug1165_bd/hdl/ug1165_bd_wrapper.v






